<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <p>Cześć!</p>
    <p>Właśnie listonosz wrzucił nowy list do Twojej skrzynki!</p>
    <p th:text="${'Data otrzymania listu: ' + date}"></p>
    <p th:text="${'Temperatura: ' + temperature + ' °C'}"></p>
    <p th:text="${'Ciśnienie: ' + pressure + ' hPa'}"></p>
    <p th:text="${'Wilgotność: ' + humidity + ' %'}"></p>
    <p>Pozdrowienia!</p>

</body>
</html>